{% extends "BpaulinUpfitBundle:Crud:show.html.twig" %}
{%
    set breadcrumbs =
    {
        'Member' : {
            'route': path('upfit_member'),
            'icon': 'gamepad',
        },
        'Sessions' : {
            'route': path('member_session'),
            'icon': 'list',
        },
        (entity.name) : {
            'route': path('member_session_workout', { 'id': entity.id }),
        },
    }
%}
{%
    set actions = {
        'Begin a session' : {
            'route': path('member_session_new', { 'follow': 'session', 'id': entity.id }),
            'icon': 'play',
            'class': 'primary'
        }
    }
%}
{% import _self as macros %}
{%
    set fields =
    {
        'name' : entity.name,
        'stages' : macros.workoutsList(entity),
    }
%}

{% block h1 %}Session <small>{{ entity.name }}</small>{% endblock %}

{% macro workoutsList(session) %}
    <ol>
        {% for workout in session.workouts %}
            <li>
                {{ workout.exercise.name }} ({{ workout.sets }}*{{ workout.number }} {{ workout.unit }}
                with {{ workout.difficulty }} {{ workout.difficultyUnit }})
            </li>
        {% endfor %}
    </ol>
{% endmacro %}
