{% extends "BpaulinUpfitBundle:Crud:show.html.twig" %}
{%
    set breadcrumbs =
    {
        'Member' : {
            'route': path('upfit_member'),
            'icon': 'gamepad',
        },
        'Sessions' : {
            'route': path('member_session'),
            'icon': 'list',
        },
        (entity.name) : {
            'route': path('member_session_workout', { 'id': entity.id }),
        },
    }
%}
{#%
    set actions = {
        'Done' : {
            'route': path('member_session_workout_done', {'id':entity.id}),
            'icon': 'trophy',
            'class': 'primary'
        },
        'Pass' : {
            'route': path('member_session_workout_pass', {'id':entity.id}),
            'icon': 'step-forward',
            'class': 'warning'
        },
        'Abandon' : {
            'route': path('member_session_workout_abandon', {'id':entity.id}),
            'icon': 'remove',
            'class': 'danger'
        },
    }
%#}

{%
    set fields = {
        'id' : entity.nextWorkout.exercise.id,
        'name' : entity.nextWorkout.exercise.name,
    }
%}

{% block h1 %}Session <small>{{ entity.name }}</small>{% endblock %}

{% block content %}
<ul class='workouts well'>
    {% for workout in entity.workouts %}
        <li>
            <span class='exercise'>{{ workout.exercise.name}}</span>
            <span class='status'>
                {% if workout.done is not null %}
                    {% if workout.done %}
                        Done
                    {% else %}
                        Abandoned
                    {% endif %}
                {% elseif workout == entity.nextWorkout %}
                    Current
                {% else %}
                    Todo
                {% endif %}
            </span>
            <span class='grade'>{{ workout.grade}}</span>
        </li>
    {% endfor %}
</ul>
{{ parent() }}
{{ form(form) }}
{% endblock %}

