{% block form_start %}
{% spaceless %}
    {% set method = method|upper %}
    {% if method in ["GET", "POST"] %}
        {% set form_method = method %}
    {% else %}
        {% set form_method = "POST" %}
    {% endif %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-horizontal')|trim}) %}
    <form method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {% if form_method != method %}
        <input type="hidden" name="_method" value="{{ method }}" />
    {% endif %}
{% endspaceless %}
{% endblock form_start %}

{% block form_row %}
{% spaceless %}
    <div class="control-group{% if errors|length > 0 %} error{% endif %}">
            {{ form_label(form, label|default(null), { 'label_attr': { 'class': 'control-label' }}) }}
        <div class="controls">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block collection_widget %}
{% spaceless %}
    <div class="collection">
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': block('collection_item_widget') }) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_errors(form) }}
            {% for rows in form %}
                <div class="form-inline">
                    {{ form_errors(rows) }}
                    {% if rows.position is defined %}
                        {{ form_widget(rows.position) }}
                        {{ form_widget(rows.exercise, {'attr': {'class': 'span2'}}) }}
                        (
                        {{ form_widget(rows.sets, {'attr': {'size': '3', 'style': 'width:auto'}}) }}
                        *
                        {{ form_widget(rows.number, {'attr': {'size': '3', 'style': 'width:auto'}}) }}
                        {{ form_widget(rows.unit, {'attr': {'size': '15', 'style': 'width:auto'}}) }}
                        with
                        {{ form_widget(rows.difficulty, {'attr': {'size': '3', 'style': 'width:auto'}}) }}
                        {{ form_widget(rows.difficultyUnit, {'attr': {'size': '15', 'style': 'width:auto'}}) }}
                        )
                        {{ form_widget(rows.rest) }}
                    {% else %}
                        {{ form_widget(rows.user) }}
                        {{ form_widget(rows.muscle) }}
                        {{ form_widget(rows.will) }}
                    {% endif %}
                </div>
            {% endfor %}
            {{ form_rest(form) }}
        </div>
    </div>
    <div class="clear"></div>
{% endspaceless %}
{% endblock collection_widget %}

{% block collection_item_widget %}
{% spaceless %}
    <div class="form-inline">
        {{ form_errors(prototype) }}
        {% if prototype.position is defined %}
            {{ form_widget(prototype.position) }}
            {{ form_widget(prototype.exercise, {'attr': {'class': 'span2'}}) }}
            (
            {{ form_widget(prototype.sets, {'attr': {'size': '3', 'style': 'width:auto'}}) }}
            *
            {{ form_widget(prototype.number, {'attr': {'size': '3', 'style': 'width:auto'}}) }}
            {{ form_widget(prototype.unit, {'attr': {'size': '15', 'style': 'width:auto'}}) }}
            with
            {{ form_widget(prototype.difficulty, {'attr': {'size': '3', 'style': 'width:auto'}}) }}
            {{ form_widget(prototype.difficultyUnit, {'attr': {'size': '15', 'style': 'width:auto'}}) }}
            )
            {{ form_widget(prototype.rest) }}
        {% else %}
            {{ form_widget(prototype.user) }}
            {{ form_widget(prototype.muscle) }}
            {{ form_widget(prototype.will) }}
        {% endif %}
    </div>
{% endspaceless %}
{% endblock collection_item_widget %}

{% block button_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn')|trim}) %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
{% endspaceless %}
{% endblock button_widget %}

{% block button_row %}
{% spaceless %}
    <div class="control-group">
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock button_row %}
