{% block form_row %}
{% spaceless %}
    <div class="control-group{% if errors|length > 0 %} error{% endif %}">
            {{ form_label(form, label|default(null), { 'label_attr': { 'class': 'control-label' }}) }}
        <div class="controls">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block collection_widget %}
{% spaceless %}
    <div class="collection">
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': block('collection_item_widget') }) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_errors(form) }}
            {% for rows in form %}
                <div class="form-inline">
                    {% for row in rows %}
                        {{ form_label(row) }}
                        {{ form_widget(row) }}
                    {% endfor %}
                </div>
            {% endfor %}
            {{ form_rest(form) }}
        </div>
    </div>
    <div class="clear"></div>
{% endspaceless %}
{% endblock collection_widget %}

{% block collection_item_widget %}
{% spaceless %}
    <div class="form-inline">
    {% for row in prototype %}
        {{ form_label(row) }}
        {{ form_widget(row) }}
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock collection_item_widget %}
