{% macro stagesList(program) %}
    {% import _self as macros %}
    <ol class='stages'>
        {% for stage in program.stages %}
            <li>{{ macros.exerciseSettingsLine(stage) }}</li>
        {% endfor %}
    </ol>
{% endmacro %}

{% macro workoutsList(session) %}
    {% import _self as macros %}
    <table class='workouts table table-condensed table-noborder'>
        {% for workout in session.workouts %}
            <tr class='workout'>
                <td>
                    {% if workout.done is not null %}
                        {% if workout.done %}
                            <span class="status label label-success">
                                <i class="icon-check-sign done"></i>
                                <span class="hidden-phone">{% trans %}Done{% endtrans %}</span>
                            </span>
                            {{ macros.longGrade(workout.grade) }}
                        {% else %}
                            <span class="status label label-important">
                                <i class="icon-remove-sign abandoned"></i>
                                <span class="hidden-phone">{% trans %}Abandoned{% endtrans %}</span>
                            </span>
                        {% endif %}
                    {% elseif workout == session.nextWorkout %}
                        <span class="status label label-info current">
                            {% trans %}Current{% endtrans %}
                        </span>
                    {% else %}
                        <span class="status label label-warning todo">
                            {% trans %}Todo{% endtrans %}
                        </span>
                    {% endif %}
                </td>
                <td>
                    {{ macros.exerciseSettingsLine(workout) }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% macro shortGrade(grade) %}
    {% if grade == 2 %}
        <span class="grade label label-important">
            <i class="icon-double-angle-up"></i>
    {% elseif grade == 1 %}
        <span class="grade label label-warning">
            <i class="icon-angle-up"></i>
    {% elseif grade == 0 %}
        <span class="grade label label-info">
            <i class="icon-chevron-right"></i>
    {% elseif grade == -1 %}
        <span class="grade label label-warning">
            <i class="icon-angle-down"></i>
    {% elseif grade == -2 %}
        <span class="grade label label-important">
            <i class="icon-double-angle-down"></i>
    {% endif %}
    </span>
{% endmacro %}

{% macro longGrade(grade) %}
    {% if grade == 2 %}
        <span class="grade label label-important" data-grade="{{ grade }}">
            <i class="icon-double-angle-up"></i>
            <span class="hidden-phone">{% trans %}Too hard{% endtrans %}</span>
    {% elseif grade == 1 %}
        <span class="grade label label-warning" data-grade="{{ grade }}">
            <i class="icon-angle-up"></i>
            <span class="hidden-phone">{% trans %}Hard{% endtrans %}</span>
    {% elseif grade == 0 %}
        <span class="grade label label-info" data-grade="{{ grade }}">
            <i class="icon-chevron-right"></i>
            <span class="hidden-phone">{% trans %}Fine{% endtrans %}</span>
    {% elseif grade == -1 %}
        <span class="grade label label-warning" data-grade="{{ grade }}">
            <i class="icon-angle-down"></i>
            <span class="hidden-phone">{% trans %}Easy{% endtrans %}</span>
    {% elseif grade == -2 %}
        <span class="grade label label-important" data-grade="{{ grade }}">
            <i class="icon-double-angle-down"></i>
            <span class="hidden-phone">{% trans %}Too easy{% endtrans %}</span>
    {% endif %}
    </span>
{% endmacro %}

{% macro exerciseSettingsLine(settings) %}
    <span class="exercise">{{ settings.exercise.name }}</span> ({{ settings.sets }}*{{ settings.number }} {{ settings.unit }}{% if settings.difficulty>0 %} {% trans %}with{% endtrans %} {{ settings.difficulty }} {{ settings.difficultyUnit }}{% endif %}){% if settings.rest %}, {{ settings.rest }}s{% endif %}
{% endmacro %}

{% macro intensitiesList(exercise) %}
    <ul class='intensities'>
        {% for entity in exercise.intensities %}
            {% if entity.intensity %}
                <li><span class="muscle">{{ entity.muscle.name }}</span> <span class="intensity">{{ entity.intensity }}</span></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}

{% macro programGrade(program) %}
    <span class="label">
        {{ '%.2f'|format(program.gradeForUser(app.user)*100) }} %
    </span>
{% endmacro %}
