{% extends "BpaulinUpfitBundle:Crud:index.html.twig" %}
{% import "BpaulinUpfitBundle::macro.html.twig" as macros %}

{% if is_granted('ROLE_ADMIN') %}
    {% set route_show = 'admin_program_show' %}
    {%
        set breadcrumbs = {
            ('Admin'|trans) : {
                'route': path('upfit_admin'),
                'icon': 'briefcase',
            },
            ('Programs'|trans) : {
                'route': path('admin_program'),
            },
        }
    %}
    {%
        set actions = {
            ('Add'|trans) : {
                'route': path('admin_program_new'),
                'icon': 'plus',
            },
        }
    %}
{% else %}
    {% set route_show = 'member_program_show' %}
    {%
        set breadcrumbs = {
            ('Member'|trans) : {
                'route': path('upfit_member'),
                'icon': 'gamepad',
            },
            ('Programs'|trans) : {
                'route': path('member_program'),
            },
        }
    %}
{% endif %}
{%
    set fields = {
        ('Name'|trans) : 'name',
    }
%}

{% block h1 %}{% trans %}Programs{% endtrans %}{% endblock %}

{% block row %}
    <td>
        <a href="{{ path(route_show, { 'id': entity.id }) }}">{{ entity.name }}</a>
        {{ macros.programGrade(entity) }}
        {{ macros.stagesList(entity) }}
    </td>
    <td>
        <a class="btn btn-mini btn-primary" href="{{ path('member_session_new', { 'follow': 'program', 'id': entity.id }) }}">
            <i class="icon-play"></i>
            {% trans %}Begin a session{% endtrans %}
        </a>
    </td>
{% endblock %}

{% block messages %}
    {{ render(controller('BpaulinUpfitBundle:Session:todo')) }}
{% endblock %}

{% block content -%}
<h2>Recommended</h2>
<div class="row">
    {% for entity in proposed %}
        <div class="span4">
            <h3>{{ macros.programGrade(entity.program) }} {{ entity.program.name }} {{ entity.grade }}</h3>
            <a class="btn btn-block " href="{{ path(route_show, { 'id': entity.program.id }) }}">
                <i class="icon-eye-open"></i>
                {% trans %}View Details{% endtrans %}
            </a>
            <a class="btn btn-block btn-primary" href="{{ path('member_session_new', { 'follow': 'program', 'id': entity.program.id }) }}">
                <i class="icon-play"></i>
                {% trans %}Begin a session{% endtrans %}
            </a>
        </div>
    {% endfor %}
</div>
<h2>Last done</h2>
<div class="row">
    {% for entity in recent %}
        <div class="span3">
            <h4>{{ macros.programGrade(entity) }} {{ entity.name }}</h4>
            <a class="btn btn-block btn-primary" href="{{ path('member_session_new', { 'follow': 'program', 'id': entity.id }) }}">
                <i class="icon-play"></i>
                {% trans %}Begin a session{% endtrans %}
            </a>
        </div>
    {% endfor %}
</div>
<h2>All</h2>
<div class="row">
    {% for entity in entities %}
        <div class="span2">
            <a href="{{ path(route_show, { 'id': entity.id }) }}">{{ entity.name }}</a>
        </div>
    {% endfor %}
</div>
{% endblock %}
