{% extends "BpaulinUpfitBundle:Crud:show.html.twig" %}
{%
    set breadcrumbs = {
        'Admin' : {
            'route': path('upfit_admin'),
            'icon': 'briefcase',
        },
        'Programs' : {
            'route': path('admin_program'),
            'icon': 'list',
        },
        (entity.name) : {
            'route': path('admin_program_show', { 'id': entity.id }),
            'icon': 'edit',
        },
    }
%}
{%
    set actions = {
        'Edit' : {
            'route': path('admin_program_edit', { 'id': entity.id }),
            'icon': 'edit',
            'class': 'primary'
        },
        'Delete' : {
            'route': path('admin_program_delete', { 'id': entity.id }),
            'icon': 'minus',
            'class': 'danger'
        },
    }
%}
{% import _self as macros %}
{%
    set fields = {
        'id' : entity.id,
        'name' : entity.name,
        'stages' : macros.stagesList(entity),
    }
%}

{% block h1 %}Program <small>{{ entity.name }}</small>{% endblock %}

{% macro stagesList(program) %}
    <ol>
        {% for stage in program.stages %}
            <li>
                {{ stage.exercise.name }} ({{ stage.sets }}*{{ stage.number }} {{ stage.unit }} with {{ stage.difficulty }} {{ stage.difficultyUnit }})
            </li>
        {% endfor %}
    </ol>
{% endmacro %}
