{% extends "FOSUserBundle::layout.html.twig" %}
{%
    set breadcrumbs =
    {
        'Login' : {
            'route': path('fos_user_security_login'),
        }
    }
%}

{% block fos_user_content %}
{% if error %}
    <div class="alert alert-danger">{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="form-group">
        <label class="col-md-2 control-label" for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        <div class="col-md-10">
            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        <div class="col-md-10">
            <input type="password" class="form-control" id="password" name="_password" required="required" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input class='btn btn-primary btn-block' type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
      </div>
    </div>
</form>

{% endblock fos_user_content %}
