{% extends "FOSUserBundle::layout.html.twig" %}
{%
    set breadcrumbs =
    {
        'Login' : {
            'route': path('fos_user_security_login'),
        }
    }
%}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="control-group">
        <label class="control-label" for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        <div class="controls">
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        <div class="controls">
            <input type="password" id="password" name="_password" required="required" />
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
        <div class="controls">
           <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        </div>
    </div>

    <div class="controls">
        <input class='btn' type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>

{% endblock fos_user_content %}
