<ul class="breadcrumb">
    {% if breadcrumbs is defined %}
        <li>
            <a href="{{app.request.baseurl}}"><i class="icon-home"></i></a>
            <span class="divider">/</span>
        </li>
        {% for label, route in breadcrumbs %}
            {% if loop.last %}
                <li class="active">
                    <span class="visible-phone">
                        {{ label }}
                    </span>
                </li>
            {% else %}
                <li>
                    <a href="{{ route.route }}">
                        {% if route.icon is defined %}
                            <i class="icon-{{ route.icon }}"></i>
                            <span class="hidden-phone">{{ label|trans }}</span>
                        {% else %}
                            {{ label|trans }}
                        {% endif %}
                    </a>
                    <span class="divider">/</span>
                </li>
            {% endif %}
        {% endfor %}
    {% else %}
        <li class="active">
            <span><i class="icon-home"></i></span>
            <span class="divider">/</span>
        </li>
    {% endif %}
</ul>
