<ul class="breadcrumb">
    {% if breadcrumbs is defined %}
        <li>
            <a href="{{path('upfit_index')}}"><i class="icon-home"></i> <span class="breadcrumb-label"></span></a>
            <span class="divider">/</span>
        </li>
        {% for label, route in breadcrumbs %}
            {% if loop.last %}
                <li class="active">
                    <span class="visible-phone breadcrumb-label">
                        {{ label }}
                    </span>
                </li>
            {% else %}
                <li>
                    <a href="{{ route.route }}">
                        {% if route.icon is defined %}
                            <i class="icon-{{ route.icon }}"></i>
                            <span class="hidden-phone breadcrumb-label">{{ label }}</span>
                        {% else %}
                            <span class="breadcrumb-label">{{ label }}</span>
                        {% endif %}
                    </a>
                    <span class="divider">/</span>
                </li>
            {% endif %}
        {% endfor %}
    {% else %}
        <li class="active">
            <i class="icon-home"></i> <span class="breadcrumb-label"></span>
            <span class="divider">/</span>
        </li>
    {% endif %}
</ul>
