<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">Upfit</a>
      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right" id="connection-area">
          {% if app.user.username is defined %}
            {{ app.user.username }}
            <a href="{{ path('fos_user_security_logout') }}">
              {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
          {% else %}
            <a href="{{ path('fos_user_security_login') }}">
              {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
            </a>
          {% endif %}
        </p>
        <ul class="nav">
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
